* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
	box-sizing: border-box;
}

.container {
	padding-left: 80px;
	padding-right: 80px;
}

.container-fluid {
	padding-left: 20px;
	padding-right: 20px;
}

.title {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	margin-bottom: 15px;
}

.subtitle {
	color: #888;
	font-size: 1.2em;
}

#navigasi {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* background: rgba(63, 63, 63, 0.5); */
	z-index: 15;
}

#navigasi .logo a {
	color: white;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	font-size: 1.5em;
}

#navigasi .menu a {
	color: #333;
	text-decoration: none;
	background: white;
	padding: 12px 18px;
	border-radius: 3px;
	margin-left: 10px;
}

#banner-home {
	padding-top: 230px;
	padding-bottom: 150px;
	background-image: url('https://www.splitshire.com/wp-content/uploads/2020/02/Riding-Motorcycle-SplitShire-40465.jpg');
	background-size: cover;
	background-position: center;
}

#banner-home h1 {
	font-family: 'Playfair Display', serif;
	color: #333;
	font-size: 3em;
	background: white;
	display: inline-block;
	margin-bottom: 15px;
}

#banner-home p {
	color: white;
	margin-bottom: 30px;
}

#banner-home a {
	background: #333;
	color: white;
	text-decoration: none;
	padding: 12px 18px;
	border-radius: 3px;
	display: inline-block;
}

#about {
	padding-top: 80px;
	padding-bottom: 120px;
}

#about .header {
	margin-bottom: 50px;
	text-align: center;
}

#about .header h1 {
	font-family: 'Playfair Display', serif;
	margin-bottom: 15px;
	font-size: 2.5em;
}

#about .body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#about .body .profile-image {
	padding-left: 50px;
	padding-right: 50px;
}

#about .body .profile-image img {
	width: 100%;
	max-width: 300px;
	border-radius: 100%;
}

#about .body .content {
	flex: 1;
}

#about .body .content h1 {
	font-family: 'Playfair Display', serif;
	margin-bottom: 30px;
}

#about .body .content p {
	border-left: 3px solid #ccc;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#footer {
	background: #333;
	padding: 30px;
}

#footer p {
	text-align: center;
	color: white;
}

#banner-about {
	padding-top: 120px;
	padding-bottom: 80px;
	background: rgb(23, 27, 44);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#banner-about .profile-image img {
	width: 250px;
	border-radius: 100%;
	margin-bottom: 15px;
}

#banner-about .content {
	margin-left: 30px;
	width: 800px;
}

#banner-about .content h1 {
	font-family: 'Playfair Display', serif;
	color: white;
	font-size: 3em;
	display: inline-block;
	margin-bottom: 15px;
}

#banner-about .content p {
	color: white;
}

#my-story {
	padding-top: 50px;
	padding-bottom: 50px;
}

#my-story .header {
	text-align: center;
	margin-bottom: 30px;
}

#my-story .header h1 {
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	margin-bottom: 15px;
}

#my-story .header p {
	color: #888;
	font-size: 1.2em;
}

#my-story .body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#my-story .body .card {
	display: flex;
	flex: 1;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 15px;
	overflow: hidden;
	min-width: 300px;
	max-width: 300px;
}

#my-story .body .card .card-header {
	background: yellow;
	height: 200px;
}

#my-story .body .card .card-header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#my-story .body .card .card-body {
	padding: 15px;
}

#my-story .body .card .card-body h1 {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	margin-bottom: 15px;
}

#find-me-in {
	background: #eee;
	padding-top: 80px;
	padding-bottom: 80px;
}

#find-me-in .head {
	text-align: center;
}

#find-me-in .content {
	display: flex;
	margin-top: 30px;
	justify-content: center;
	min-width: 300px;
	flex-wrap: wrap;
}

#find-me-in .content a {
	flex: 1;
	background: white;
	margin: 10px;
	text-align: center;
	padding: 80px;
	color: white;
	border-radius: 3px;
	font-size: 3em;
}